# Node.js dependencies
/visualiser/node_modules/

/visualiser/build/

/simulation/.venv/

# Logs
*.log

# Environment variables
.env
.venv

# Data and results
/visualiser/public/data
*output.svg
/results/
/node_modules/
__pycache__/
