# Node.js dependencies
/frontend/node_modules/

/frontend/build/

/backend/.venv/

# Logs
*.log

# Environment variables
.env
.venv

# Data and results
/frontend/public/data
*output.svg
/results/
/node_modules/
